/* Small devices (phones, tablets) */
@media (max-width: 768px) {

    :root {
        --hero-max-width: 100%;
    }

    .hero-image {
        display: none;
    }

    .hero-inner {
        display: block;
    }

    .site-footer {
        flex-direction: column;
        align-items: start;
        row-gap: 0.5rem;
    }

    .episode-player-container {
        padding: 2rem 2rem;
    }

    .about-hosts {
        margin-top: 0;
    }

    .about-host {
        margin-top: 2rem;
    }

    #contact-form-container {
        margin-top: 1rem;
    }

}

/* Large devices (laptops, desktops) */
@media (max-width: 1024px) {
    .hero {
        padding: 2rem 0;
    }
}