---
import { Image } from "astro:assets";
import hourglassImage from "../assets/images/hourglass.svg";
---

<section>
  <div class="hero">
    <div class="hero-outer fade-up-text">
      <div class="hero-inner">
        <div class="hero-content">
          <p class="hero-eyebrow">A hodgepodge history podcast - Est. 2020</p>
          <h1 class="hero-header">
            <span class="hero-the">the</span><br />
            <span class="hero-title">Gallimaufry</span>
          </h1>
          <p class="hero-description">
            Two lovers of the past pontificate on the weird, the wonderful, and
            the often overlooked. Crafted in a carpet shop basement. New
            episodes every month.
          </p>
          <div class="subscribe-buttons">
            <a
              href="https://podcasts.apple.com/podcast/id1541207040"
              target="_blank"
              class="subscribe-button">Apple Podcasts</a
            >
            <a
              href="https://open.spotify.com/show/4QO6YrQMbF8KtgpGCjmlQZ"
              target="_blank"
              class="subscribe-button">Spotify</a
            >
            <a
              href="https://music.amazon.com/podcasts/275087d3-2808-4d10-a949-e3c193ea0e92"
              target="_blank"
              class="subscribe-button">Amazon Music</a
            >
            <a
              href="https://feeds.buzzsprout.com/1460611.rss"
              target="_blank"
              class="subscribe-button">RSS</a
            >
          </div>
        </div>
        <div class="hero-image">
          <Image src={hourglassImage} alt="Hourglass image" />
        </div>
      </div>
    </div>
  </div>
</section>
