---
import { ClientRouter } from "astro:transitions";
import { Font } from "astro:assets";

import "../styles/global.css";
import "../styles/responsive.css";

const {
  title = "The Gallimaufry History Podcast",
  description = "Two enthusiasts of the past explore the weird, the overlooked, and the occasionally ridiculous. New episodes monthly, crafted in a carpet shop basement.",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <Font cssVariable="--tg-font-lato" />
    <ClientRouter />

    <!-- Google tag (gtag.js) -->
    <script is:inline type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-MR1597S2J4"></script>

    <script is:inline type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("consent", "default", {
          ad_storage: "denied",
          ad_user_data: "denied",
          ad_personalization: "denied",
          analytics_storage: "denied",
      });

      gtag("config", "G-MR1597S2J4");
    </script>

    <script is:inline data-category="analytics">
      function updateConsents() {
        gtag('consent', 'update', {
          ad_storage: 'granted',
          ad_user_data: 'granted',
          ad_personalization: 'granted',
          analytics_storage: 'granted',
        });
      }
    </script>


  </head>
  <body>
    <script type="module" src="/src/scripts/cookieconsent-config.js"></script>
    <!-- Header -->
    <header>
      <div class="container">
        <nav>
          <span class="nav-logo">
            <a href="/">The Gallimaufry</a>
          </span>
          <div class="nav-items">
            <a class="nav-item" href="/about">About</a>
          </div>
        </nav>
      </div>
</header>
      <!-- Main content  -->
      <main>
        <slot />
      </main>

      <!-- Footer -->
      <footer class="site-footer container">
        <span class="site-footer-brand">The Gallimaufry</span>
        <span class="site-footer-copyright"
          >© {new Date().getFullYear()} The Gallimaufry - All Rights Reserved</span
        >
      </footer>
    </header>
  </body>
</html>
